.site-header {
	background-color: var(--bg-secondary-color);
	display: flex;
	justify-content: center;

	& .site-icon {
		height: 2rem;
		vertical-align: middle;
		width: 2rem;
	}

	& .site-title {
		font-size: 2rem;
		text-decoration: none;
	}

	& > nav {
		align-items: center;
		display: flex;
		height: 4rem;
		justify-content: space-between;
		max-width: var(--site-width);
		width: var(--site-width);
	}

	& .nav-items {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	& .nav-item {
		margin-right: 1rem;
	}
	
	& .nav-item-link {
		text-decoration: none;
	}
	
	& .nav-item-link:hover {
		text-decoration: underline;
	}
}