.site-content {
    align-items: center;
    background-color: var(--bg-primary-color);
    display: flex;
    flex-direction: column;

    .site-content_hero {
        align-items: center;
        background-attachment: fixed;
        background-color: black;
        background-image: var(--hero-image);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-shadow: 2px 2px var(--shadow-color);
        width: 100%;

        header {
            max-width: var(--site-width);
            width: var(--site-width);
        } 
    }

    .site-content_body {
        font-size: 14pt;
        margin: 0 0 1rem 0;
        max-width: var(--site-width);
        text-align: justify;
        width: var(--site-width);
    }
}