.site-footer {
	background-color: var(--bg-secondary-color);
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;

	& .site-footer_content {
		max-width: var(--site-width);
	}
}