<header class="site-header">
    <nav>
        <a href="/" class="site-title">
            <img class="site-icon" src="/media-library/icons/final-hill.svg" alt="{{site.title}} icon">
            <span>{{site.title}}</span>
        </a>
        <ul class="nav-items">
            <li class="nav-item"><a class="nav-item-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-item-link" href="/news">News</a></li>
            <!-- <li class="nav-item"><a class="nav-item-link" href="/about">About</a></li> -->
            <li class="nav-item"><a class="nav-item-link" href="/libraries">Libraries</a></li>
            <!-- <li class="nav-item"><a class="nav-item-link" href="/products">Products</a></li> -->
        </ul>
    </nav>
</header>