.page-Home {
	background-image: url('/media-library/ISS043-E-88591_-_View_of_Earth.jpg');
	background-size: cover;
}

.page-Home .site-header {
	background-color: transparent;
}

.page-Home .site-content_body {
	align-items: center;
	display: flex;
    flex-direction: column;
	text-align: center;
	padding: 0 1em;
}

.page-Home h2 {
	text-shadow: 2px 2px black;
}

.page-Home #hubspot-form {
	display: flex;
	flex-direction: column;
	margin: 2em 0;
}

.page-Home #hubspot-form fieldset {
	border: none;
	display: flex;
	justify-content: center;
}

.page-Home #hubspot-form input {
	height: 2em;
	width: 20em;
    border: 1px solid var(--secondary-color);
    padding: 0.5em;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
	font-size: 1.2em;
	max-width: 60vw;
}

.page-Home #hubspot-form button {
	background-color: var(--secondary-color);
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	color: var(--font-color);
	padding: 0.5em;
	border: 1px solid var(--secondary-color);
	font-size: 1.2em;
}

.page-Home #hubspot-form #hubspot-form_complete {
	display: none;
}

.page-Home .site-footer {
	background-color: transparent;
	text-shadow: 2px 2px var(--shadow-color);
}