/* node_modules\vitepress\dist\client\theme-default\styles\vars.css */
:root {
    --vp-c-brand-1: rgb(162, 122, 65);
    --vp-font-family-base: Cambria, Georgia, serif;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 0.8em;
}

::-webkit-scrollbar:horizontal {
    height: 0.8em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--vp-c-text-1);
    border-radius: 0.5rem;
    border: 2px solid var(--vp-c-bg-soft);
}

::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background-color: var(--vp-c-bg-soft);
}

#VPContent {
    /* background-image: url('/assets/dark_geometric.png'); */
}

body {
    font-size: 13pt;
}

.text,
.VPNavBarMenuLink,
.link,
.outline-title,
.outline-link,
.details,
.copyright {
    font-size: 13pt !important;
}

.title {
    font-size: 16pt !important;
}

.tagline {
    font-size: 21pt !important;
}