.hubspot-form {
	display: flex;
	flex-direction: column;
	margin: 2em 0;

    fieldset {
        border: none;
        display: flex;
        justify-content: center;
    }

    input {
        height: 2em;
        width: 20em;
        border: 1px solid var(--secondary-color);
        padding: 0.5em;
        border-radius: var(--border-radius) 0 0 var(--border-radius);
        font-size: 1.2em;
        max-width: 60vw;
    }

    button {
        background-color: var(--secondary-color);
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
        color: var(--font-color);
        padding: 0.5em;
        border: 1px solid var(--secondary-color);
        font-size: 1.2em;
    }

    .hubspot-form_complete {
        display: none;
    }
}
